.title-h1 {
  display: block;
  text-align: center;
  font-family: Verdana;
  font-size: 35px;
  color: #306108;
  
}

.board {
  border: 4px solid maroon;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background: burlywood;
  border: 2px solid maroon;
  font-size: 30px;
  color: darkgreen;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

.sg-btn {
background-color: #85f523;
border-radius: 6px;
border: 1px solid #268a16;
cursor: pointer;
color: #306108;
font-family: Verdana;
font-size: 15px;
font-weight: bold;
padding: 6px 24px;
text-decoration: none;
text-shadow: 0px 1px 0px #aade7c;
}
.sg-btn:hover {
background-color: #85f523;
}

.game-div {
  width: 200px;
  margin: 20px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #306108;
  font-size: 15px;
font-weight: bold;
};
